<section>
  <div  class="container"id="home">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-2 " id="ashwiniimg" src="/images/Ashwini1.jpg" alt="Ashwini Patel">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Ashwini Patel</h1>
            <h4 class="mb-0"> UI/UX Designer - Web Designer </h4> <br>
               <p>Web and Application Designer who love to design simple elegant and aesthetic designs of applications.
                  Designs which soothes the eyes of users and make them to stay longer and use applications.
                </p>
        </div>                       
      </div>
    </div>
  </div>
</section>
<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="card1">
          <img src="/images/UI-UX1.jpg" class="card-img-top" alt="UI/UX">
            <div class="card-body">
              <h5 class="mb-0 text-center"> UI/UX Designer </h5>
              <p class="card-text">Simple Understandable and Aesthetic designs and prototypes for users</p>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card1">
          <img src="/images/Website1.jpg" class="card-img-top" alt="Web Application">
            <div class="card-body">
              <h5 class="mb-0 text-center"> Web Designer </h5>
              <p class="card-text">Web Application and Mobile Application Designs which are easy to use and understand</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section> 


