
<!-- Contact Section-->
<section class="page-section" >
  <div class="container "  id="contact">
    <h2 class="page-section-heading text-center mb-0">Connect With Ashwini</h2><hr>
     <div class="row">
      <div class="col-md-6 ">
        <!-- Contact Section Heading-->
        <h3 class="page-section-heading text-center mb-0">Contact Me</h3><br>
        <!-- Contact Section Form-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- Name input-->
          <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com" required />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." required></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  <br>
              </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <button class="btn btn-secondary my-2 my-sm-0" id="submitButton" type="submit">Send Your Query</button>
        </form>
      </div>          
      <div class="col-md-6" >
        <div class="address-section">
          <h2 class="page-section-heading text-center mb-0">Available At</h2><br>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/map1.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Address</h5>
                <p>25, Earlsbridge Bvld, Brampton, Ontario L7A 2L8, Canada</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/phone.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Telephone</h5>
                <p>+1 647-710-3398</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/mail.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Mail Drop</h5>
                <p>ashwinipatel3398@gmail.com</p>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div><br><br><br>
</section>