<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Ashwini Patel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#project">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#home">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#contact">Contact Me</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<section>
  <div  class="container"id="home">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-2 " id="ashwiniimg" src="/images/Ashwini1.png" alt="Ashwini Patel">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Ashwini Patel</h1>
            <h4 class="mb-0"> UI/UX Designer - Web Designer </h4> <br>
               <p>Web and Application Designer who love to design simple elegant and aesthetic designs of applications.
                  Designs which soothes the eyes of users and make them to stay longer and use applications.
                </p>
        </div>                       
      </div>
    </div>
  </div>
</section>
<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="card1">
          <img src="/images/UI-UX1.png" class="card-img-top" alt="UI/UX">
            <div class="card-body">
              <h5 class="mb-0 text-center"> UI/UX Designer </h5>
              <p class="card-text">Simple Understandable and Aesthetic designs and prototypes for users</p>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card1">
          <img src="/images/Website1.png" class="card-img-top" alt="Web Application">
            <div class="card-body">
              <h5 class="mb-0 text-center"> Web Designer </h5>
              <p class="card-text">Web Application and Mobile Application Designs which are easy to use and understand</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section> 
<section class="page-section" >
  <div  class="container"id="project" >             
    <h2 class="page-section-heading text-center text-uppercase mb-0">projects</h2><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="/images/Chatterbeez.png" class="card-img-top" alt="UI Project">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorum sint eos rerum voluptatibus at repellat nesciunt accusamus reprehenderit rem odio eveniet, sed quas nulla ex error omnis. Nam, iste.</p>
          </div>
        </div>
       </div>
        <div class="col-md-4">
          <div class="card2">
            <img src="/images/Song.png" class="card-img-top" alt="UI Project">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sapiente accusamus. Tenetur, eaque quibusdam commodi tempora voluptatibus aut porro quam quia molestias pariatur placeat maiores hic, ea odio, consectetur magni.</p>
          </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card2">
            <img src="/images/Chatterbeez.png" class="card-img-top" alt="UI Project">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod delectus quia autem, tenetur numquam est laudantium? Explicabo aliquid, quam alias, eum fugiat amet porro obcaecati nostrum mollitia, cumque ex?</p>
          </div>
          </div>
        </div>
      </div>
  </div><br><br><br><br>
</section> 
<!-- Contact Section-->
<section class="page-section" >
  <div class="container "  id="contact">
    <h2 class="page-section-heading text-center mb-0">Connect With Ashwini</h2><hr>
     <div class="row">
      <div class="col-md-6 ">
        <!-- Contact Section Heading-->
        <h3 class="page-section-heading text-center mb-0">Contact Me</h3><br>
        <!-- Contact Section Form-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- Name input-->
          <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com" required />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." required></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  <br>
              </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <button class="btn btn-secondary my-2 my-sm-0" id="submitButton" type="submit">Send Your Query</button>
        </form>
      </div>          
      <div class="col-md-6" >
        <div class="address-section">
          <h2 class="page-section-heading text-center mb-0">Available At</h2><br>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/map1.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Address</h5>
                <p>25, Earlsbridge Bvld, Brampton, Ontario L7A 2L8, Canada</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/phone.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Telephone</h5>
                <p>+1 647-710-3398</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/mail.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Mail Drop</h5>
                <p>ashwinipatel3398@gmail.com</p>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div><br><br><br>
</section> 
<section>
<footer class="bg-dark text-center text-white">
<!-- Grid container -->
  <div class="container p-4 pb-0">
    <p>Also At SocialMedia Platforms</p>
      <!-- Section: Social media -->
      <section class="mb-4">         
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Ashwini3398" role="button">
          <i class="fa fa-github"></i>
        </a>
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fa fa-twitter"></i>
        </a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/learning/me/skills?u=2212217" role="button">
          <i class="fa fa-linkedin"></i>
        </a>
      </section>
      <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" id="copyright">
    © 2021 Copyright: <a href="#home">Ashwini Patel</a>
  </div>
  <!-- Copyright -->
</footer>     
</section>
