<section class="page-section" >
  <div  class="container"id="project" >             
    <h2 class="page-section-heading text-center text-uppercase mb-0">projects</h2><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="/images/Chatterbeez.png" class="card-img-top" alt="ChatterBeez">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorum sint eos rerum voluptatibus at repellat nesciunt accusamus reprehenderit rem odio eveniet, sed quas nulla ex error omnis. Nam, iste.</p>
          </div>
        </div>
       </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/images/Song.png" class="card-img-top" alt="MusicalWibes">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sapiente accusamus.eaque quibusdam commodi tempora voluptatibus aut porro quam quia molestias pariatur placeat maiores hic, ea odio, consectetur magni.</p>
          </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card">
            <img src="/images/Chatterbeez.png" class="card-img-top" alt="ChatterBeez">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod delectus quia autem, tenetur numquam est laudantium? eum fugiat amet porro obcaecati nostrum mollitia, cumque ex?</p>
          </div>
          </div>
        </div>
      </div>
  </div><br><br><br><br>
</section> 
